

<div class="alert alert-success"  role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

<div class="container-fluid py-4 mt-4">
     <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
        
                 
           
                 
           
                <div class=" p-5 rounded mt-3" style="background-color: rgb(244, 244, 244);border: 2px dotted black;">
                  <h1 style="text-align: center;">ASSU<small style="color: brown;">RANCE</small></h1>
                 <div class="container-fluid">
                     <div class="row">

                        <br><br>
                         <hr>
                         <br><br>

                         <div class="col-md-6 mb-3">
                             <h6>Police :  ...</h6>
                             <h6>Usage : ...</h6>
                             <h6>Date Debut : .../.../...</h6>
                             <h6>Date d'expiration : .../.../...</h6>
                        </div>
                         <div class="col-md-6 mb-3">
                             <h6>Nom et Prénom :</h6>
                             <h6>Address :</h6>
                             <h6>Ville :</h6>
                             <h6>Secteur :</h6>
                         </div>
                        
                         <br><br>
                         <hr>
                         <br><br>

                         <div class="col-md-6 mb-3">
                            <h6>Matriculation :  ...</h6>
                            <h6>La Marque : ...</h6>
                            <h6>Model : </h6>
                            <h6>Année : </h6>
                        </div>
                         <div class="col-md-6 mb-3">
                            <h6>Puissance CV :</h6>
                            <h6>Carburant :</h6>
                            <h6>Nombre de Place :</h6>
                         </div>

                         <br><br>
                         <hr>
                         <br><br>

                         <h6 class="mt-2 mb-2">GARANTIES D'ASSURANCE</h6>
                         <table class="table table-success table-striped" >
                            
                            <thead>
                              <tr>
                                <th scope="col">Option</th>
                                <th scope="col">Montant Garantie	</th>
                                <th scope="col">Franchise</th>
                                <th scope="col">Prix d'option</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>twitter</td>
                              </tr>
                            </tbody>
                          </table>
                     </div>
                 </div>        
         </div>
         <div class="col-md-1"></div>
     </div>
</div>