

<app-hedaer [menuContent]="menuContentHeader" [isfixed]="false"></app-hedaer>




<div *ngFor="let item of produits" [class.hide-parent-content]="childRouteActive" id="top">
  <h2></h2>
  <h5>{{item.type}}</h5>
  
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h4 class="display-2 fw-bold text-body-emphasis" style="font-size: 40px;">{{item.titre}}</h4>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{item.description}}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
     
    </div>
  </div>


 <router-outlet></router-outlet>


    <card-pack [packs]=item.packs></card-pack>


  
</div>

<!-- 
<div >
  <h3></h3>
  <p></p>
 
  
  <ul>
   <strong>options</strong>
   <li *ngFor="let opt of item2.options">{{opt.descriptions}}</li>
  </ul>
 
</div> -->