

<app-hedaer [menuContent]="menuContentHeader" [isfixed]="false"></app-hedaer>




<div *ngFor="let item of produits" [class.hide-parent-content]="childRouteActive" id="top">
  <h2></h2>
  <h5>{{item.type}}</h5>
  
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h4 class="display-2 fw-bold text-body-emphasis" style="font-size: 40px;">{{item.titre}}</h4>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{item.description}}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
     
    </div>
  </div>


 <router-outlet (activate)="onChildRouteActivate($event)"></router-outlet>

 <div class="container-fluid px-3 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Hanging icons</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="col d-flex align-items-start  "  *ngFor="let item2 of item.packs">


      <div>
        <h4 class="fs-2 text-body-emphasis"><i class="bi bi-check2-circle"></i>{{item2.titre}}</h4>
        <p>{{item2.description}}</p>
        <ul>
          <strong>avantages</strong>
           <li *ngFor="let avg of item2.avantages"><i class="bi bi-caret-right-fill mx-2"></i>{{avg.label}}</li>
         </ul>
       
        
  <button class="btn btn-link rounded-pill px-3" type="button"> </button>
 <a style="text-decoration:none;color: black;"  [routerLink]="['details-pack',item2.slug]"> <button class="btn btn-warning  rounded-pill px-3" type="button" (click)="scrollToTop()" >voir plus </button></a>
      </div>
  
    </div>
  </div>
</div>

  
</div>

<!-- 
<div >
  <h3></h3>
  <p></p>
 
  
  <ul>
   <strong>options</strong>
   <li *ngFor="let opt of item2.options">{{opt.descriptions}}</li>
  </ul>
 
</div> -->