<div>
    <h1>Automobile</h1>
    <img src="assets/voiture.webp" alt="voiture" width="1000" height="1000" >
    <h3>L’assurance automobile, l’esprit léger.</h3>
    <p>Souscrire l’assurance automobile qui vous correspond peut être un vrai casse-tête. Chez RMA, nous nous engageons à vous offrir une couverture simple et inclusive, adaptée à vos besoins. Si votre véhicule est endommagé, vous pouvez compter sur RMA pour le réparer ou le remplacer ; tout simplement.<br>
        Que vous préfériez personnaliser votre offre ou choisir l’une de nos formules les plus prisées, faites l’expérience de l’assurance auto RMA pour un service sur lequel vous pouvez compter.</p>

        <h2> formules</h2>
        <h3>Choisissez la couverture qui convient à vos exigences.</h3>
        <p>Sélectionnez une formule et personnalisez-la à votre goût.</p>
<div>
    <app-formules></app-formules>
</div>
</div>
