img {
    width: 1000px; /* Ajuste la largeur de l'image selon tes besoins */
    height: 600px; /* Ajuste la hauteur de l'image selon tes besoins */
    display: block; /* Pour éviter l'espacement en bas de l'image */
    margin: 0 auto; /* Pour centrer l'image horizontalement */
  }