$blue-base-color: #1d2a5c;
$blue-hover-color: #121b3b;
$yellow-base-color: #f8d066;
$green-base-color: #00968c;
$green-hover-color: #026a63;

.home-whole-container {
  display: flex;
  height: 100vh;
  // width: 100vw;
}
// .clouds {
//   width: 1300px;
//   height: 170px;
//   background: transparent url(../../assets/img/nuages.png) no-repeat;
//   animation: moveClouds 30s ease-in-out 1s infinite;
//   position: absolute;
//   top: 5px;
//   left: 0;
//   z-index: 2;
// }
.clouds {
  width: 1300px;
  height: 170px;
  background: transparent url(../../assets/img/nuages.png) no-repeat; /* Repeat horizontally */
  animation: moveClouds 30s linear infinite; /* Adjust the duration, timing function, and iteration count as needed */
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 2;
}

// @keyframes moveClouds {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(100%); /* Change from 100% to -100% */
//   }
// }

// Blue block
.left-blue-block {
  display: grid;
  width: 45vw;
  background-color: $blue-base-color;
  color: white;
  padding: 4rem;
}
.home-logo {
  font-size: 30px;
  font-weight: bolder;
}
.home-intro-h1 {
  font-size: 46px;
  line-height: 53px;
}
.home-type-client {
  font-size: 24px;
  line-height: 2.5rem;
}
.home-type-cli {
  display: block;
}
.faUser {
  margin-right: 14px;
}
.faUsers {
  margin-right: 12px;
}
.faCircleInfo {
  color: white;
}
.gem-icon {
  width: 20px;
  height: auto;
}
.diamond-icon {
  width: 20px;
  height: auto;
}
.gem-icon,
.diamond-icon,
.faCircleInfo {
  margin-right: 12px;
}
.home-links-a {
  display: flex;
  align-items: center;
}
.home-links-li {
  font-size: 20px;
  margin-bottom: 6px;
}

.home-type-cli-a:hover,
.home-links-a:hover {
  text-shadow: 0px 0px 28px rgba(255, 255, 255, 1);
}

// Yellow block
.middle-yellow-block {
  width: 30vw;
  background-color: $yellow-base-color;
  color: black;
  padding: 10rem 3rem;
}
.yellow-block-h5 {
  font-size: 16px;
  color: #434343;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
}
.home-login-span {
  font-size: 24px;
  color: #434343;
  font-weight: 600;
}

.home-login-route {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  background: $blue-base-color;
  text-align: center;
  width: 250px;
  border-radius: 35px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 7px 12px -1px rgba(29, 42, 91, 0.4);
  height: 52px;
  font-size: 14px;
}
.home-login-route:hover {
  background: $blue-hover-color;
  font-size: 15px;
}

// White block
.right-white-block {
  //   display: grid;
  width: 25vw;
  background-color: white;
  color: black;
  padding: 19rem 3rem 10rem;
}
.white-block-h5 {
  font-size: 16px;
  color: #434343;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
}
.home-signup-span {
  font-size: 24px;
  color: #434343;
  font-weight: 600;
}

.home-signup-route {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  background: $green-base-color;
  text-align: center;
  width: 250px;
  border-radius: 35px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 7px 12px -1px rgba(29, 42, 91, 0.4);
  height: 52px;
  font-size: 14px;
}
.home-signup-route:hover {
  background: $green-hover-color;
  font-size: 15px;
}
