<div class="home-whole-container">
  <div class="left-blue-bloc">
    <div class="home-logo">LOGO</div>
    <div class="home-intro-h1">
      Découvrir l'assurance dans un monde qui change.
    </div>
    <ul class="home-type-client">
      <li class="home-type-cli">
        <a href="#" class="home-type-cli-link">
          <fa-icon [icon]="faUser" class="faUser"></fa-icon>
          Vous êtes un particulier ?</a
        >
      </li>
      <li class="home-type-cli">
        <a href="#" class="home-type-cli-link">
          <fa-icon [icon]="faUsers" class="faUsers"></fa-icon>Vous êtes une
          entreprise&nbsp;/&nbsp;un professionnel ?</a
        >
      </li>
    </ul>
    <ul class="home-links">
      <li>
        <a href="#" class="home-links-a">
          <img [src]="imgGem" alt="gem-icon" class="gem-icon" /> Nos produits
        </a>
      </li>
      <li>
        <a href="#" class="home-links-a">
          <img [src]="imgGem" alt="gem-icon" class="gem-icon" /> Mentions
          légales
        </a>
      </li>
      <li>
        <a href="#" class="home-links-a">
          <img [src]="imgGem" alt="gem-icon" class="gem-icon" /> À propos de
          nous
        </a>
      </li>
    </ul>
  </div>
  <div class="middle-yellow-bloc">TEST 2</div>
  <div class="right-white-bloc">TEST 3</div>
</div>
<!-- <FontAwesomeIcon icon="fa-regular fa-user" style={{color: "#ffffff",}} /> -->
