<div class="home-whole-container">
  <div class="clouds"></div>
  <!-- BLUE block -->
  <div class="left-blue-block">
    <div class="home-logo">LOGO</div>
    <div class="home-intro-h1">
      Découvrir l'assurance dans un monde qui change.
    </div>
    <ul class="home-type-client">
      <li class="home-type-cli">
        <a href="#" class="home-type-cli-a">
          <fa-icon [icon]="faUser" class="faUser"></fa-icon>
          Vous êtes un particulier ?</a
        >
      </li>
      <li class="home-type-cli">
        <a href="#" class="home-type-cli-a">
          <fa-icon [icon]="faUsers" class="faUsers"></fa-icon>Vous êtes une
          entreprise&nbsp;/&nbsp;un professionnel ?</a
        >
      </li>
    </ul>
    <ul class="home-links">
      <li class="home-links-li">
        <a href="#" class="home-links-a">
          <img [src]="imgGem" alt="gem-icon" class="gem-icon" /> Nos produits
        </a>
      </li>
      <li class="home-links-li">
        <a href="#" class="home-links-a">
          <img
            [src]="imgDiamondEmpty"
            alt="diamond-icon"
            class="diamond-icon"
          />
          Mentions légales
        </a>
      </li>
      <li class="home-links-li">
        <a href="#" class="home-links-a">
          <fa-icon [icon]="faCircleInfo" class="faCircleInfo"></fa-icon> À
          propos de nous
        </a>
      </li>
    </ul>
  </div>
  <!-- YELLOW block -->
  <div class="middle-yellow-block">
    <h5 class="yellow-block-h5">espaces clients</h5>
    <span class="home-login-span">Déjà client ?<br />Connectez-vous !</span>
    <br />
    <a href="#" class="home-login-route"> se connecter </a>
  </div>
  <!-- WHITE block -->
  <div class="right-white-block">
    <h5 class="white-block-h5">espaces clients</h5>
    <span class="home-signup-span"
      >Vous n'avez pas un compte ?<br />Créer un !</span
    >
    <br />
    <a href="#" class="home-signup-route"> créer un compte </a>
  </div>
</div>
<!-- <FontAwesomeIcon icon="fa-regular fa-user" style={{color: "#ffffff",}} /> -->

<!-- FOOTER -->
<app-footer></app-footer>
