<div>
    <h1>Automobile</h1>
    <img src="assets/entrep-voiture.jpg" alt="voiture" width="1000" height="1000" >
    <h3>L’assurance automobile pour les entreprises, l’esprit léger.</h3>
    <p>RMA offre aux entreprises une large gamme de produits et de services pour assurer leurs risques et leur apporter le soutien le mieux adapté lorsqu’un sinistre survient
        <h2> formules</h2>
        <h3>Choisissez la couverture qui convient à vos exigences.</h3>
        <p>Sélectionnez une formule et personnalisez-la à votre goût.</p>
<div>
    <app-formules [formulesFiltrees]="formules"></app-formules>
</div>
</div>
