<div id="Auth">
  <button type="submit" class="back-btn">Revenir au site</button>
    <h1 id="first">Créez votre compte<br> en quelques clics!</h1>
    <h4 id="second">L’Espace Client de RMA est un espace sécurisé qui permet <br>d’accéder aux Espaces Santé, Epargne et Automobile via un <br> seul identifiant de connexion.</h4>
     <div class="form">
              
    <input required type="text" name="Nom"   class="input-field" placeholder="Nom*" [(ngModel)]="nom"/><br />
    <!-- <span class="err" @if(!nom)>*Ce champ est requis</span><br /> -->
    @if(!nom && nom == null){<span class="err" >*Ce champ est requis</span><br />}
    <input required type="text" name="Prenom"   class="input-field" placeholder="Prenom*" [(ngModel)]="prenom"/><br />           
    <input type="text" name="numTelephone" [(ngModel)]="numTelephone" placeholder="Numéro de téléphone" class="input-field"><br /> 
    
    <input required type="text" name="birthday"  [(ngModel)]="birthdayday" class="input-field1" placeholder="Jour*" />
                
                    
                <select name="mois" placeholder="jour*" class="input-field2">
                    <option value="1">Janvier</option>
                    <option value="2">Février</option>
                    <option value="3">Mars</option>
                    <option value="4">Avril</option>
                    <option value="5">Mai</option>
                    <option value="6">Juin</option>
                    <option value="7">Juillet</option>
                    <option value="8">Août</option>
                    <option value="9">Septembre</option>
                    <option value="10">Octobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Décembre</option>
                </select>
          

                <input required type="text" name="birthday"  [(ngModel)]="birthdayyear" class="input-field3"
                    placeholder="Année*" /><br />

                   <input required type="text" name="Email" [(ngModel)]="Email" class="input-field" placeholder="Email*"/><br />
                  
                   @if (!ispasswordValid) {
                      <p>Les mots de passe ne sont pas identiques</p>
                    } 
                    <!-- @else {
                      <p>Les mots de passe  sont  identiques</p>
                    } -->
                    <div class="password-input-container">
                   <!-- <input required type="text" name="Mot de passe" [(ngModel)]="password" class="input-field"   placeholder="Mot de passe*"/><br /> -->
                   @if(!hide){
                    <input required type="password" name="Mot de passe" [(ngModel)]="password" class="input-field"   placeholder="Mot de passe*"/><br />

                    <img src="../../assets/yeux-barré.jpg" alt="Image d'œil barré"  (click)="togglePasswordVisibility()"  class="fas fa-eye1">
                   } 
                @else{
                  <input required type="text" name="Mot de passe" [(ngModel)]="password" class="input-field"   placeholder="Mot de passe*"/><br />

                  <img src="assets/yeux.png" alt="Image d'œil"  (click)="togglePasswordVisibility()"  class="fas fa-eye">

                 }  
                     
                    </div>
                    <div class="password-input-container1">
                    <input required  type="text"  name="Mot de passe" [(ngModel)]="confirmPassword" class="input-field"   placeholder="Je confirme mon mot de passe *"  />
                    <!-- <img src="assets/yeux-barré.jpg" alt="Image d'œil barré" @if(hide) (click)="togglePasswordVisibility()"  class="fas fa-eye1"> -->
                    @if(hide){  <img src="assets/yeux.png" alt="Image d'œil"  (click)="togglePasswordVisibility()"  class="fas fa-eye">}
                  </div>

                    
                    <!-- <div *ngIf="!ispasswordValid" class="error-message">
                      Les mots de passe ne sont pas identiques
                    </div>2
                    <input required type="{{ hide ? 'password' : 'text' }}" name="Mot de passe" [(ngModel)]="password" class="input-field" [ngClass]="{'error': !ispasswordValid}"  placeholder="Mot de passe*"/>
                    <div class="password-input-container1">
                      <input required  type="{{ hide ? 'password' : 'text' }}"  name="Mot de passe" [(ngModel)]="confirmPassword" class="input-field"  [ngClass]="{'error': !ispasswordValid}"   placeholder="Je confirme mon mot de passe *"  />
  -->
  
  
  <!-- <div *ngIf="!ispasswordValid" class="error-message">
                      Les mots de passe ne sont pas identiques
                    </div> -->
                  </div>
                  
                    <h6 id="sec">(*) Champs obligatoires</h6>
                    <div class="btn">
                <button type="submit" class="join-btn">Créer mon compte</button>
                @if (allFieldsFilled){
                  <p>!! Veuillez remplir tous les champs obligatoires.</p>
                } 
                   
                <div id="Signin">
                  <button type="submit" class="join-btn2"><a routerLink="/login">Vous avez déja un compte ?</a></button>
                </div>
              </div>



                  </div>
  