<app-hedaer [menuContent]="menuContentHeader" [isfixed]="false"></app-hedaer>
<div style="height: 4rem;"></div>


<section class="vh-60  ">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center cont align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="bg-transparent text-black" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-2 mt-md-5 pb-5">
                            <p class="mb-2 display-6 text-primary title">Welcome <strong>Back </strong>!</p>
                            <p class="text-dark-50 mb-5 text-primary">Please enter your login and password! </p>
                            <div class="example-container">
                                <mat-form-field style="width: 80%; " appearance="outline">
                                    <mat-label>Enter your email</mat-label>
                                    <input matInput class="input" placeholder="pat@example.com" [formControl]="email"
                                        required>
                                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field style="width: 80%;" appearance="outline">
                                <mat-label>Enter your password</mat-label>
                                <input matInput class="input" [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <p class="my-3"><a class="text-black-50 h6" href="#!" routerLink="/password-reset">
                                <mat-icon style="padding-top: 3px">lock_open</mat-icon>Forgot password?</a></p>
                            <button mat-raised-button color="primary"
                                style="font-size: 17px; width: 80%;height: 50px;">Login</button>
                        </div>
                        <p class="text-dark-50 h6" style="color:#9a9a9a">Don't have an account yet?</p>
                        <div>
                           <a href="#" routerLink="/register"
                                    class="text-black-50 fw-bold"> <button mat-stroked-button 
                                    style="font-size: 17px; width: 80%;height: 50px; background-color: #5b6cff; color: white;">Sign up</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>