


<mat-card class="step-one">
    <mat-card-header>
      <mat-card-title-group class="title">
        <mat-card-title role="heading"
                        aria-level="1">Personal info</mat-card-title>
        <mat-card-subtitle role="heading"
                           aria-level="2"
                           role="heading"
                           aria-level="2">Please provide the required infos.</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content >
      <!-- name input -->
      <div class="input-details">
        <label for="name">{{ questionText }}</label>
        @if (false) {
            <label for="error"
            id="error"
            class="error-alert">Name is required</label>
        }
      </div>
     
  
  @for (option of options; track $index) {
    <div class="radio-buttons-container">
        <div class="radio-button">
          <input name="radio-group" id="radio2" class="radio-button__input" type="radio"
          [(ngModel)]="answer" [value]="option">
          <label for="radio2" class="radio-button__label">
            <span class="radio-button__custom"></span>
            {{ option }}
          </label>
        </div>
    </div>
}
  
    </mat-card-content>
  </mat-card>





