<footer class="footer">
  <ul class="footer-left-block">
    <a href="#">
      <li class="footer-left-li">
        <span class="footer-span">À propos de nous</span>
      </li>
    </a>
    <a href="#">
      <li class="footer-left-li">
        <fa-icon [icon]="faEnvelope" class="faEnvelope"></fa-icon>
        <span class="footer-span">Contact</span>
      </li></a
    >
    <a href="#">
      <li class="footer-left-li">
        <fa-icon [icon]="faBookmark" class="faBookmark"></fa-icon>
        <span class="footer-span">Carrière</span>
      </li>
    </a>
  </ul>
  <ul class="footer-right-block">
    <a href="#">
      <li class="footer-right-li newsletter">
        <span class="footer-span">S'abonner à la Newsletter</span>
      </li></a
    >
    <li class="footer-right-li">
      <a href="#"><fa-icon [icon]="faFacebook" class="faFacebook"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faTwitter" class="faYoutube"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faYoutube" class="faYoutube"></fa-icon></a>
    </li>
    <li class="footer-right-li"></li>
  </ul>
</footer>
