

/* Styles spécifiques pour WebKit (Chrome, Safari) */
.scrole-style::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
  }
  
  .scrole-style::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de la poignée de la barre de défilement */
    border-radius: 6px; /* Rayon de la bordure de la poignée */
  }
  
  /* Styles spécifiques pour Mozilla Firefox */
  .scrole-style {
    scrollbar-width: thin; /* Largeur de la barre de défilement */
  }
  
  .scrole-style::-moz-scrollbar-thumb {
    background-color: #888; /* Couleur de la poignée de la barre de défilement */
    border-radius: 6px; /* Rayon de la bordure de la poignée */
  }
  