<div class="container">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
      <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
      <svg class="bi mt-5 mb-3" width="48" height="48"><use xlink:href="#check2-circle"/></svg>
      <h1 class="text-body-emphasis">Vous ne savez pas quelle assurance vous pouvez choisir ?</h1>
      <p class="mb-4">
        Notre équipe dédiée est là pour vous accompagner dans le processus complexe de choix d'une assurance adaptée à vos besoins spécifiques. En comprenant vos circonstances personnelles et professionnelles, nous sommes en mesure de vous fournir des conseils personnalisés pour vous aider à naviguer dans le monde des assurances. Nous mettons un point d'honneur à identifier les aspects les plus cruciaux de votre vie qui nécessitent une couverture adéquate. Notre objectif est de garantir au maximum la protection de vos biens, de votre santé, et de vos responsabilités. Grâce à notre expertise approfondie dans le domaine des assurances, nous sommes en mesure de vous présenter des options claires et adaptées à votre situation. Faire le bon choix en matière d'assurance est essentiel pour votre tranquillité d'esprit, et nous sommes là pour vous guider tout au long du processus, en veillant à ce que vous soyez pleinement informé et confiant dans votre décision.
      </p>
      <button class="btn btn-primary px-5 mb-5" type="button">
        Call to action
      </button>
    </div>
  </div>