<div class="container">
    <div class="position-relative  text-center text-muted bg-body border border-dashed rounded-5" style="width: 80rem; height:20rem;">
      <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
      <svg class="bi  mb-3" width="48" height="48"><use xlink:href="#check2-circle"/></svg>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <h1 class="text-body-emphasis">Vous ne savez pas quelle assurance vous pouvez choisir ?</h1>
          <p class="mb-4">
            Notre équipe dédiée est là pour vous accompagner dans le processus complexe de choix d'une assurance adaptée à vos besoins spécifiques. 
            Laisse nous vous aider!
          </p>
          <button class="btn btn-primary px-5 mb-5" type="button" (click)="navigate()">
            <a >
            Commencer
           </a>
          </button>
        </div>
        <div class="col-md-3">
          <img src="../../../assets/ai.png" alt="image" style="width: 200px;">
        </div>
      </div>
    </div>
  </div>